terraform {
  required_providers {
    lambdazip = {
      source = "winebarrel/lambdazip"
    }
  }
}

provider "lambdazip" {
}

resource "lambdazip_file" "node_program" {
  base_dir      = "example"
  source        = "**"
  excludes      = [".*", "README.md"]
  output        = "my-program.zip"
  before_create = "npm i"

  triggers = [
    filesha256("example/main.js"),
    filesha256("example/package.json"),
    filesha256("example/package-lock.json"),
  ]
}

output "zip_sha256" {
  value = lambdazip_file.node_program.base64sha256
}
