terraform {
  required_providers {
    lambdazip = {
      source = "winebarrel/lambdazip"
    }
  }
}

provider "lambdazip" {
}

resource "lambdazip_file" "node_program" {
  base_dir      = "lambda"
  source        = "**"
  excludes      = [".*", "README.md"]
  output        = "my-program.zip"
  before_create = "npm i"

  triggers = {
    for i in [
      "lambda/index.js",
      "lambda/package.json",
      "lambda/package-lock.json",
    ] : i => filesha256(i)
  }
}

output "zip_sha256" {
  value = lambdazip_file.node_program.base64sha256
}
